<div class="m-portlet m-portlet--tabs">
    <div class="m-portlet__head px-0">
        <div class="m-portlet__head-tools w-100">
            <ul class="nav nav-tabs m-tabs-line m-tabs-line--warning m-tabs-line--1x m-tabs-line--right w-100">
                <li class="nav-item m-tabs__item mx-0 w-50">
                    <a [ngClass]="{'active show':selectedTab === 'job-seeker'}" (click)=" reset($event, 'job-seeker')"
                        class="nav-link m-tabs__link w-100 pl-3">
                        <i class="fa fa-calendar-check-o"></i>Job Seeker
                    </a>
                </li>
                <li class="nav-item m-tabs__item mx-0 w-50">
                    <a [ngClass]="{'active show':selectedTab === 'employer'}" (click)="reset($event,'employer')"
                        class="nav-link m-tabs__link w-100">
                        <i class="fa fa-bar-chart"></i> Employer
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body m-portlet__body px-0 pb-0 pt-0" [@fadeInOutDown]="selectedTab">
        <div style="transition: min-height .2s cubic-bezier(.48,.45,.55,1.08)" class="tab-content bg-white"
            [style.minHeight]="selectedTab === 'job-seeker' ? '420px':'320px'">
            <div *ngIf="selectedTab === 'job-seeker'" [ngClass]="{'active show':selectedTab === 'job-seeker'}"
                class="tab-pane">
                <div class="m-login m-login--6">
                    <div class="m-login__wrapper px-4 pt-0 pb-3">
                        <div class="m-login__body">
                            <div class="m-login__signin" style="width: 100%">
                                <div class="m-login__title mt-4 mb-1">
                                    <h4>Login to your <span class="m--font-primary d-inline">Job Seeker</span> account</h4>
                                </div>
                                <div *ngIf="response" [ngClass]="{'alert-success':!isError, 'alert-danger': isError}"
                                    class="m-alert m-alert--outline m-alert--square m-alert--outline-2x alert "
                                    role="alert">
                                    {{response?.messageBody}}
                                </div>
                                <form (keydown.enter)="loginForm.valid ? jLogin.click() : false"
                                    class="m-login__form m-form no-margin" [formGroup]="loginForm" autocomplete="off">
                                    <div class="form-group m-form__group">
                                        <input formControlName="email" class="form-control m-input form-control-sm"
                                            type="text" placeholder="Username" style="border-radius: 0">
                                        <span class="text-danger btn-block"
                                            *ngIf="displayMessage['email']">{{ displayMessage['email'] }}</span>
                                    </div>
                                    <div class="form-group m-form__group">
                                        <input formControlName="password"
                                            class="form-control m-input m-login__form-input--last form-control-sm"
                                            type="password" placeholder="Password" style="border-radius: 0">
                                        <span class="text-danger btn-block"
                                            *ngIf="displayMessage['password']">{{ displayMessage['password'] }}</span>

                                    </div>
                                </form>
                                <div class="m-login__action mt-3 mb-2">

                                    <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-brand">
                                        <input [(ngModel)]="rememberMe" type="checkbox">Remember me
                                        <span></span>
                                    </label>

                                    <a routerLink="/jobseeker/password-recover" class="m-link no-margin">
                                        <span style="color: #aba9b4">Forgot password?</span>
                                    </a>
                                </div>
                                <div class="m-login__action mt-3 mb-2" style="justify-content: center">
                                    <button #jLogin [disabled]="isWorking"
                                        [ngClass]="{'m-loader m-loader--primary m-loader--right px-5':isWorking}"
                                        (click)="onLogin('jobseeker')"
                                        class="btn btn-outline-primary m-btn m-btn--outline-2x  m-btn  m-btn--air m-login__btn m-login__btn--primary  pt-2 pb-2 pl-4 pr-4">
                                        <span>Login</span>
                                    </button>
                                </div>
                                <div class="m-login__action mt-4 mb-2" style="justify-content: center">
                                    Don't have an account yet? <a routerLink="/jobseeker/register" class="m-link no-margin">
                                        <span class="ml-1"> Register now!</span>
                                    </a>
                                </div>
                                <div class="m-login__form-divider">
                                    <div class="m-divider">
                                        <span></span>
                                        <span>OR</span>
                                        <span></span>
                                    </div>
                                </div>
                                <div class="m-login__options">
                                    <a href="javascript:;"
                                        class="btn btn-outline-info m-btn--outline-2x m-btn btn-sm m-btn  m-btn m-btn--icon">
                                        <span>
                                            <i class="fab fa-facebook-f"></i>
                                            <span>Facebook</span>
                                        </span>
                                    </a>
                                    <a href="javascript:;"
                                        class="btn btn-outline-accent m-btn--outline-2x m-btn  btn-sm  m-btn  m-btn m-btn--icon">
                                        <span>
                                            <i class="fab fa-twitter"></i>
                                            <span>Twitter</span>
                                        </span>
                                    </a>
                                    <a href="javascript:;"
                                        class="btn btn-outline-danger m-btn--outline-2x m-btn btn-sm m-btn  m-btn m-btn--icon">
                                        <span>
                                            <i class="fab fa-google"></i>
                                            <span>Google</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedTab === 'employer'" [ngClass]="{'active show':selectedTab === 'employer'}"
                class="tab-pane">

                <div class="m-login m-login--6">
                    <div class="m-login__wrapper px-4 pt-0 pb-0">
                        <div class="m-login__body">
                            <div class="m-login__signin" style="width:100%">
                                <div class="m-login__title mt-4 mb-1">
                                    <h4>Login to your <span class="m--font-brand">Employer</span> account</h4>
                                </div>
                                <div *ngIf="response" [ngClass]="{'alert-success':!isError, 'alert-danger': isError}"
                                    class="m-alert m-alert--outline m-alert--square m-alert--outline-2x alert "
                                    role="alert">
                                    {{response?.messageBody}}
                                </div>
                                <form (keydown.enter)="loginForm.valid ? eLogin.click() : false"
                                    class="m-login__form m-form no-margin" [formGroup]="loginForm" autocomplete="off">
                                    <div class="form-group m-form__group">
                                        <input formControlName="email" class="form-control m-input form-control-sm"
                                            type="text" placeholder="Username" style="border-radius: 0">
                                        <span class="text-danger btn-block"
                                            *ngIf="displayMessage['email']">{{ displayMessage['email'] }}</span>

                                    </div>
                                    <div class="form-group m-form__group">
                                        <input formControlName="password"
                                            class="form-control m-input m-login__form-input--last form-control-sm"
                                            type="password" placeholder="Password" style="border-radius: 0">
                                        <span class="text-danger btn-block"
                                            *ngIf="displayMessage['password']">{{ displayMessage['password'] }}</span>
                                    </div>
                                </form>
                                <div class="m-login__action mt-3 mb-2">
                                    <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-brand">
                                        <input [(ngModel)]="rememberMe" type="checkbox">Remember me
                                        <span></span>
                                    </label>
                                    <a routerLink="/employer/password-recover" class="m-link no-margin">
                                        <span style="color: #aba9b4">Forgot password?</span>
                                    </a>
                                </div>
                                <div class="m-login__action mt-3 mb-2" style="justify-content: center">
                                    <button #eLogin [disabled]="isWorking"
                                        [ngClass]="{'m-loader m-loader--primary m-loader--right px-5':isWorking}"
                                        (click)="onLogin('employer')"
                                        class="btn btn-outline-primary m-btn m-btn--outline-2x  m-btn  m-btn--air m-login__btn m-login__btn--primary  pt-2 pb-2 pl-4 pr-4">
                                        <span>Login</span>
                                    </button>
                                </div>
                                <div class="m-login__action mt-4 mb-5" style="justify-content: center">
                                    Don't have an account yet? <a routerLink="/employer/register" class="m-link no-margin">
                                        <span class="ml-1"> Register now!</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>