<div class="m-grid__item m-aside-right cover-right-aside text-light">
    <div class="m-portlet m-portlet--unair mb-0" style="background: transparent">
        <div class="m-portlet__body text-light m-pad m--padding-15">
            <div class="row">
                <div class="col-12 h4 mt-2 create-alert-text d-block">
                    Get best matched Jobs notification in your email without
                    registration! <a href="" class="m-link auto-write text-center">Create a Job Alert</a>
                  
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 h6 m--font-metal mobile-app-info">
                    Get updated new jobs right away on your pocket with our official Android and iOS apps.
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 d-flex">
                    <a href="javascript:;"
                        class="btn m-btn  btn-outline-metal m-btn m-btn--outline-2x  mr-2">
                        <span>
                            <i class="fab fa-google-play"></i>
                            <span> Google Play</span>
                        </span>
                    </a>
                    <a href="javascript:;" class="btn m-btn  btn-outline-metal m-btn m-btn--outline-2x">
                        <span>
                            <i class="fa socicon-apple"></i>
                            <span> App Store</span>
                        </span>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</div>