<div class="row">
    <div class="col-md-6">
        <div class="px-2 mb-2">
            <mat-card class="mt-0 mat-elevation-z0 box-border grid-bg">
                <mat-card-content>
                    <div class="row">
                        <div class="col-12 m--font-primary">
                            <div class="h5 mb-0 "><i class="m--font-brand la la-file-text-o "></i> Basic
                                Post</div>
                            <mat-divider class="mt-3"></mat-divider>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-4">
                            <p style="font-size: 12px;font-weight: 400;">

                                Quick post with minimal information focused on the key features and requirements.
                                You may copy paste your own template or use editor to arrange. <br><br>
                                In this post, Candidates can simply apply for the position and the system validates
                                basic requirement to generate curriculum vitae template (CV) for you.
                            </p>
                        </div>
                    </div>
                    <mat-divider class="mt-2"></mat-divider>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <div style="display: flex;justify-content: center;">
                                <button (click)="onAction('basic')" type="button"
                                    class="btn m-btn--label-primary btn-secondary m-btn--hover-accent m-btn--square btn-sm card-btn">Create Now <span><i class="la la-pencil-square m--font-primary"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="col-md-6">
        <div class="px-2 mb-2">
            <mat-card class="mt-0 mat-elevation-z0 box-border grid-bg">
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-12 m--font-info">
                            <div class="h5 mb-0 "><i class="m--font-brand la la-sliders "></i> Advanced
                                Post</div>
                            <mat-divider class="mt-3"></mat-divider>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-4 h6">
                            <p style="font-size: 12px;font-weight: 400;">
                                Advanced automated controls to filter candidates as fits to your organization.
                                <br><br> You'll have full control over candidate validating process to make sure, you
                                only get best and eligible candidates for you. <br><br>
                                There are several features to highlight such as Criteria matcher, Dynamic form etc.,
                            </p>
                        </div>
                    </div>
                    <mat-divider class="mt-2"></mat-divider>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <div style="display: flex; justify-content:center;">
                                <button (click)="onAction('advance')" type="button"
                                    class="btn m-btn--label-primary btn-secondary m-btn--hover-accent m-btn--square btn-sm card-btn">Create Now <span><i class="la la-pencil-square m--font-info"></i></span></button>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-6">
        <div class="px-2 mb-2">
            <mat-card class="mt-0 mat-elevation-z0 box-border grid-bg">
                <mat-card-content>
                    <div class="row">
                        <div class="col-12 m--font-info">
                            <div class="h5 mb-0 "><i class="m--font-brand flaticon-interface-10"></i>
                                Candidate Applications
                            </div>
                            <mat-divider class="mt-3"></mat-divider>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-4">
                            <p style="font-size: 12px;font-weight: 400;">
                                Managing candidate applications to shortlist, schedule an appointment or filtering the
                                best out of it. <br><br>
                                You don't have to worry about selecting a wrong candidate or going through their
                                profile, CV or details by checking side by side. Instead, it is done by the system
                                itself.<br> <br> Leave the outdated hiring process behind and hire with more confidence
                                with <b>Jobharu</b>
                            </p>
                        </div>
                    </div>
                    <mat-divider class="mt-2"></mat-divider>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <div style="display: flex;justify-content: center;">
                                <a  routerLink="/employer/j/applications"
                                    class="btn m-btn--label-info btn-secondary m-btn--hover-primary m-btn--square btn-sm card-btn">
                                    View Applications <span class="px-1 "><i class="flaticon-eye m--font-info"></i></span>
                            </a>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="col-md-6">
        <div class="px-2 mb-2">
            <mat-card class="mt-0 mat-elevation-z0 box-border grid-bg">
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-12 m--font-primary">
                            <div class="h5 mb-0 "><i class="m--font-brand flaticon-app"></i>
                                Applicant Tracking System
                                <div></div>
                            </div>
                            <mat-divider class="mt-3"></mat-divider>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-4 h6">
                            <p style="font-size: 12px;font-weight: 400;">
                                Finding the best candidates has never been easy. After wasting a lot of time and money,
                                you get few eligible applications which makes the hiring process a pain.<br> <br>
                                In the manual hiring process, Its very hard to track down all of the candidates, documents, CVs, Interviews etc., to have full control.<br><br>
                                Do you think all these things should've been easy and fast by using automated systems?
                                <br><br>
                                Well, Let that job to be done by <b>Jobharu Applicant Tracking System</b>. <br><br>
                            </p>
                        </div>
                    </div>
                    <mat-divider class="mt-2"></mat-divider>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <div style="display: flex; justify-content:center;">
                                <button type="button"
                                    class="btn m-btn--label-primary btn-secondary m-btn--hover-info m-btn--square btn-sm card-btn">
                                    Explore <span><i class="la la-external-link m--font-primary"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>