<div class="m-login m-login--6">
    <div class="m-login__wrapper" style="padding: 5px">
        <div class="m-login__body mt-0">
            <div class="m-login__signin" style="max-width: 100%;">
                <div *ngIf="response" class="alert alert-danger alert-dismissible fade show" role="alert"
                    [ngClass]="{'alert-danger':response.error,'alert-success':!(response?.error)}">
                    <button (click)="clear()" type="button" class="close" aria-label="Close">
                    </button>
                    {{response?.messageBody || response?.error?.messageBody}}
                </div>
                <div *ngIf="token else showForgotForm">
                    <div class="m-login__title mt-2 mb-1 text-left">
                        <h4>Let's Recover Your Account!</h4>
                    </div>
                    <form class="m-login__form m-form mt-4 mb-5" [formGroup]="resetForm">
                        <div class="form-group m-form__group">
                            <label for="pw1">Enter your new password </label>
                            <input class="form-control m-input form-control-sm" formControlName="pw1" type="password"
                                placeholder="New Password" style="border-radius: 0;margin-top: 0" required>
                            <span *ngIf="displayMessage?.pw1" class="m--font-danger">{{displayMessage?.pw1}}</span>
                        </div>
                        <div class="form-group m-form__group mt-3">
                            <input match="pw1" class="form-control m-input form-control-sm" formControlName="pw2" type="password"
                                placeholder="Confirm New Password" style="border-radius: 0;margin-top: 0" required>
                            <span *ngIf="displayMessage?.pw2" class="m--font-danger">{{displayMessage?.pw2}}</span>
                        </div>
                    </form>

                    <div class="m-login__action mt-3 mb-2" style="justify-content: center">
                        <button [disabled]="isWorking"
                            [ngClass]="{'m-loader m-loader--success m-loader--right':isWorking, 'btn-outline-primary m-login__btn--primary': !isworking}"
                            (click)="resetPassword()" class="btn  m-btn  m-btn  m-btn--air m-login__btn  pt-2 pb-2 mr-2 ">
                            <span>Reset password</span>
                        </button>
                    </div>
                </div>
                <ng-template #showForgotForm>
                    <div class="m-login__title mt-2 mb-1 text-left">
                        <h4>Let's Recover Your Account!</h4>
                    </div>
                    <form class="m-login__form m-form mt-4 mb-5" [formGroup]="forgotForm">
                        <div class="form-group m-form__group">
                            <label for="email">Enter your email to reset your password </label>
                            <input class="form-control m-input form-control-sm" formControlName="email" type="text"
                                placeholder="Email" style="border-radius: 0;margin-top: 0" required>
                            <span *ngIf="displayMessage?.email" class="m--font-danger">{{displayMessage?.email}}</span>
                        </div>
                    </form>

                    <div class="m-login__action mt-3 mb-2" style="justify-content: center">
                        <button [disabled]="isWorking"
                            [ngClass]="{'m-loader m-loader--success m-loader--right':isWorking, 'btn-outline-primary m-login__btn--primary': !isworking}"
                            (click)="requestResetLink()" class="btn  m-btn  m-btn  m-btn--air m-login__btn  pt-2 pb-2 mr-2 ">
                            <span>Submit</span>
                        </button>
                        <a routerLink="/jobseeker/login"
                            class="btn btn-outline-metal  m-btn  m-btn  m-btn--air m-login__btn m-login__btn--metal pt-2 pb-2">Cancel</a>
                    </div>
                </ng-template>
            </div>

        </div>
    </div>
</div>