<!-- <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click"> -->
<a href="#" class="m-nav__link m-dropdown__toggle">
	<span class="m-topbar__userpic">
		<img fallback-img-src src="{{avatar}}" class="m--img-rounded mx-0 mt-0 mb-0 m--img-centered" alt="" />
	</span>
</a>
<div class="m-dropdown__wrapper">
	<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"
		style="color: rgb(4, 194, 222) !important"></span>
	<div class="m-dropdown__inner">
		<div class="m-dropdown__header m--align-center custom-bg">
			<div class="m-card-user m-card-user--skin-dark">
				<div class="m-card-user__pic">
					<img fallback-img-src src="{{avatar}}" class="m--img-rounded mx-0 mt-0 mb-0" alt="" />
				</div>
				<div class="m-card-user__details">
					<span class="m-card-user__name m--font-weight-500  m--font-light">
						{{userInfo?.displayName}}
					</span>
					<a href="mailto:{{userInfo?.email}}"
						class="m-card-user__email m--font-weight-300 m-link  m--font-light">
						{{userInfo?.email}}
					</a>
				</div>
			</div>
		</div>
		<div class="m-dropdown__body">
			<div class="m-dropdown__content">
				<ul class="m-nav m-nav--skin-light">
					<li class="m-nav__section m--hide">
						<span class="m-nav__section-text">
							Section
						</span>
					</li>
					<li class="m-nav__item" routerLinkActive="m-nav__item--active">
						<a routerLink="/{{userHrefBase}}/dashboard" class="m-nav__link">
							<i class="m-nav__link-icon flaticon-time-1"></i>
							<span class="m-nav__link-text">
								Dashboard
							</span>
						</a>
					</li>
					<li *ngIf="isEmployer" class="m-nav__item" routerLinkActive="m-nav__item--active">
						<a routerLink="/{{userHrefBase}}/j/all" class="m-nav__link">
							<i class="m-nav__link-icon flaticon-folder-1"></i>
							<span class="m-nav__link-text">
								My Jobs
							</span>
						</a>
					</li>
					<li class="m-nav__item" routerLinkActive="m-nav__item--active">
						<a routerLink="/{{userHrefBase}}/my/profile" class="m-nav__link">
							<i class="m-nav__link-icon flaticon-profile-1"></i>
							<span class="m-nav__link-title">
								<span class="m-nav__link-wrap">
									<span class="m-nav__link-text">
										My Profile
									</span>
									<span class="m-nav__link-badge">
										<span class="m-badge m-badge--success">
											2
										</span>
									</span>
								</span>
							</span>
						</a>
					</li>

					<!-- <li class="m-nav__item">
						<a href="{{userHrefBase}}/activity" class="m-nav__link">
							<i class="m-nav__link-icon flaticon-share"></i>
							<span class="m-nav__link-text">
								Activity
							</span>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="{{userHrefBase}}/messages" class="m-nav__link">
							<i class="m-nav__link-icon flaticon-chat-1"></i>
							<span class="m-nav__link-text">
								Messages
							</span>
						</a>
					</li>
					<li class="m-nav__separator m-nav__separator--fit"></li>
					<li class="m-nav__item">
						<a href="{{userHrefBase}}/Faq" class="m-nav__link">
							<i class="m-nav__link-icon flaticon-info"></i>
							<span class="m-nav__link-text">
								FAQ
							</span>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="{{userHrefBase}}/support" class="m-nav__link">
							<i class="m-nav__link-icon flaticon-lifebuoy"></i>
							<span class="m-nav__link-text">
								Support
							</span>
						</a>
					</li> -->
					<li class="m-nav__separator m-nav__separator--fit"></li>
					<li class="m-nav__item">
						<button mat-stroked-button (click)="logout()">Logout</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- </li> -->