<div class="loading-shade" *ngIf="isLoadingResults || isFileDownloading">
    <mat-spinner *ngIf="isLoadingResults" strokeWidth="3" diameter="60"></mat-spinner>
    <div *ngIf="isFileDownloading" style="background: #f6f5f8;padding: 5px;border-radius: 6px; display: flex;">
        File download in progress <mat-spinner class="ml-3" strokeWidth="2" diameter="20"></mat-spinner>
    </div>
</div>
<div style="height: calc(100vh - 295px);" *ngIf="!(isLoadingResults || items?.length >0 ) else table"
    class="alert alert-secondary" role="alert">
    <div class="alert-text text-center 	m-label-font-color-1">
        <h4><i class="flaticon-information" style="font-size: 2.4rem"></i> No record found</h4>
    </div>
</div>
<ng-template #table>
    <div class="table-container" perfectScrollbar style="height: calc(100vh - 295px);">
        <div class="row mx-0 mt-3" [@fadeIn]="items.length">
            <div class="col-md-4 pb-4 appointment-col" *ngFor="let item of items; let o = odd">
                <mat-card [style.background]="selected.checked ? '#f3f4ff':''">
                    <mat-card-header (click)="toggleSelection(item)" style="margin:0 -16px; cursor: pointer;">
                        <mat-card-title [title]="item.jobTitle" style="font-size: 16px; margin-bottom: 10px">
                            {{(item.jobTitle || '').trim() | slice:0:35}}
                            {{(item.jobTitle || '').trim().length >35 ? '..':''}}
                        </mat-card-title>
                        <mat-card-subtitle style="font-size: 12px" class="mb-4"
                            [ngClass]="(item.appointmentAttendees>0)?'m--font-info':'m--font-warning'">
                            <i class="la la-lightbulb-o m--font-warning" style="font-size: 14px"></i>
                            {{
                                item.appointmentAttendees > 0
                                ? "Change applicants current stage"
                                : 'No applicants are attended an appointment'}}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div style="position: absolute;top: 0;right: 0;">
                            <mat-checkbox #selected (click)="$event.stopPropagation()" (change)="toggleSelection(item)"
                                [checked]="selection.isSelected(item)">
                            </mat-checkbox>
                        </div>
                        <div class="detail-wrap">
                            <div class="row pt-1 pb-1">
                                <div class="col-8 mb-1">Applicants: </div>
                                <div class="col-4  mb-1 text-right"> {{item.applicants}}</div>
                            </div>
                            <div class="row pt-1 pb-1">
                                <div class="col-8 mb-1">Hiring Target (openings): </div>
                                <div class="col-4  mb-1 text-right">{{item.noOfOpenings}} </div>
                            </div>
                            <div class="row pt-1 pb-1">
                                <div class="col-8  mb-1">Appointment Attendees:</div>
                                <div class="col-4  mb-1 text-right">{{item.appointmentAttendees}}</div>
                            </div>
                        </div>
                    </mat-card-content>
                    <div class="btn-group m-btn-group--air btn-block btn-group-sm" role="group">
                        <button [disabled]="selected.checked" (click)="onAction(item.id, item.jobTitle,'')"
                            class="btn btn-block btn-secondary btn-sm">
                            <span>
                                <i class="flaticon-clock-2 m--font-brand"></i>
                            </span> Change Applicants Stage
                        </button>
                        <div class="btn-group btn-group-sm">
                            <button [disabled]="selected.checked" class="btn btn-secondary btn-sm" type="button"
                                [matMenuTriggerFor]="ops"><i class="flaticon-more"></i></button>
                        </div>
                        <mat-menu #ops="matMenu" xPosition="before" yPosition="above">
                            <button (click)="exportTo(item.id, 'excel')" disableRipple mat-menu-item><i
                                    class="la la-file-excel-o m--font-success"></i>
                                Export as Excel-sheet
                            </button>
                            <button (click)="exportTo(item.id, 'pdf')" disableRipple mat-menu-item><i
                                    class="la la-file-pdf-o m--font-danger"></i>
                                Export as PDF
                            </button>
                            <button (click)="onAction(item.id, item.jobTitle,'history')" disableRipple mat-menu-item><i
                                    class="la la-history m--font-brand"></i>
                                Applicants Stage History
                            </button>
                        </mat-menu>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</ng-template>
<div class="row mb-3">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <mat-paginator [disabled]="!(isLoadingResults || items?.length >0 )" [pageSize]="50"
            [pageSizeOptions]="[5, 10, 20, 50, 100, 200, 400, 500]" showFirstLastButtons></mat-paginator>
    </div>
</div>