<div mat-dialog-title class="m--font-brand" cdkDrag [cdkDragRootElement]="'.cdk-overlay-pane'"
[cdkDragBoundary]="'.cdk-overlay-container'" cdkDragHandle style="cursor: move">Message Body</div>
<div mat-dialog-content [innerHTML]="data" style="background: #fbfcff" class="pt-2 pb-2"></div>
<div mat-dialog-actions class="d-flex justify-content-center">
    <button mat-dialog-close class="btn btn-outline-info m-btn btn-sm m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air mb-2 mt-2">
        <i class="la la-close"></i> Dismiss
    </button>
</div>