<div matDialogTitle class="mb-0">
    <div class="row">
        <div class="col-md-7">
            <h5 class="m--font-brand"> Update Basic Information </h5>
        </div>
        <div class="col-md-5">
            <a class="m-portlet__nav-link btn btn-outline-metal m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill pull-right"
                (click)="onCancel()">
                <i class="la la-close"></i>
            </a>
        </div>
    </div>
</div>
<div class="m-separator m-separator--dashed mt-2 mb-3"></div>
<div id="res-messages" class="alert m-alert m-alert--air" role="alert" [ngClass]="{'alert-danger':isError, 'alert-success':!isError}"
    *ngIf="responseMessage || errors?.length>0">
    <button type="button" class="close pt-0" aria-label="Close" (click)="clearErrors()"></button>
    <span *ngIf="errors?.length > 0; else msgBlock">
        <span class="row" [@fadeInOutErrors]="errors?.length">
            <div class="col-12 mb-1 m--font-bolder">
                {{ responseMessage}}
            </div>
            <div class="col-6" *ngFor="let e of  errors">
                {{e.message}}
            </div>
        </span>
    </span>
    <ng-template #msgBlock>
        {{ responseMessage}}
    </ng-template>
</div>
<form [formGroup]="basicForm" (ngSubmit)="onSubmit()" class="m-form" autocomplete="off">
    <div matDialogContent>
        <div class="m-portlet__body">
          
            <div class="row mb-5 mat-elevation-z1">
                <div class="col-md-6 mt-3">
                    <div class="form-group " [ngClass]="{'has-error': displayMessage?.fullName}">
                        <mat-form-field appearance="outline">
                            <mat-label>Full Name</mat-label>
                            <input matInput type="text" placeholder="Full Name" formControlName="fullName" required>
                            <mat-error class="m--font-danger" *ngIf="displayMessage?.fullName">
                                {{displayMessage?.fullName}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-6 mt-3">
                    <div class="form-group ">
                        <mat-form-field appearance="outline">
                            <mat-label>Date of Birth</mat-label>
                            <input matInput [matDatepicker]="picker" placeholder="Date of Birth" (focus)="picker.open()"
                                (click)="picker.open()" formControlName="dateOfBirth" required>
                            <mat-error class="m--font-danger" *ngIf="displayMessage?.dateOfBirth">
                                {{displayMessage?.dateOfBirth}}
                            </mat-error>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group " [ngClass]="{'has-error':displayMessage?.presentAddress}">
                        <mat-form-field appearance="outline">
                            <mat-label>Present Address</mat-label>
                            <input matInput type="text" placeholder="Present Address" formControlName="presentAddress"
                                required>
                            <mat-error class="m--font-danger" *ngIf="displayMessage?.presentAddress">
                                {{displayMessage?.presentAddress}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group ">
                        <mat-form-field appearance="outline">
                            <mat-label>Permanent Address</mat-label>
                            <input matInput type="text" placeholder="Permanent Address" formControlName="permanentAddress"
                                required>
                            <mat-error class="m--font-danger" *ngIf="displayMessage?.permanentAddress">
                                {{displayMessage?.permanentAddress}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group ">
                        <mat-form-field appearance="outline">
                            <mat-label>Gender</mat-label>
                            <mat-select #gen class="m-input" formControlName="gender" placeholder="Gender" required>
                                <mat-option *ngFor="let g of gender" [value]="g.value">
                                    {{g.value}}
                                </mat-option>
                                <mat-option *ngIf="gender.length<=0">Not availavle</mat-option>
                            </mat-select>
                            <mat-error class="m--font-danger" *ngIf="displayMessage?.gender">
                                {{displayMessage?.gender}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group ">
                        <mat-form-field appearance="outline">
                            <mat-label>Marital Status</mat-label>
                            <mat-select class="m-input" formControlName="maritalStatus" placeholder="Marital Status"
                                required>
                                <mat-option *ngFor="let e of mStatus" [value]="e.value">
                                    {{e.value}}
                                </mat-option>
                                <mat-option *ngIf="mStatus.length<=0">Not availavle</mat-option>
                            </mat-select>
                            <mat-error class="m--font-danger" *ngIf="displayMessage?.maritalStatus">
                                {{displayMessage?.maritalStatus}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group ">
                        <mat-form-field appearance="outline">
                            <mat-label>Religion</mat-label>
                            <mat-select class="m-input" formControlName="religion" placeholder="Religion">
                                <mat-option *ngFor="let e of religion" [value]="e.value">
                                    {{e.value}}
                                </mat-option>
                                <mat-option *ngIf="religion.length<=0">Not available</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group shadow-none">
                        <mat-form-field appearance="outline">
                            <mat-label>Nationality</mat-label>
                            <mat-select class="m-input" formControlName="nationalityId" placeholder="Nationality"
                                required #singleSelect>
                                <mat-option>
                                    <ngx-mat-select-search noEntriesFoundLabel="no match found" placeholderLabel="search a country" [formControl]="countryFilterCtrl"></ngx-mat-select-search>
                                  </mat-option>
                                <mat-option *ngFor="let e of filterCountry | async" [value]="e.key">
                                    {{e.value}}
                                </mat-option>
                            </mat-select>
                            <mat-error class="m--font-danger" *ngIf="displayMessage?.nationalityId">
                                {{displayMessage?.nationalityId}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div [@fadeInOutStagger]="contactControls().controls.length" class="col-12 mat-elevation-z1"
                    formArrayName="phoneNumbers" id="contact-phone-wrap">
                    <div class="form-group mb-0" *ngFor="let c of contactControls().controls; let i=index;">
                        <!-- <label>Contact Number</label> -->
                        <div [formGroupName]="i" style="display: flex; justify-content: stretch; flex-wrap: wrap">
                            <div class="col-md-4 px-0">
                                <mat-form-field appearance="outline" floatLabel="always">
                                    <mat-label>Phone Type</mat-label>
                                    <mat-select required value="Mobile" formControlName="phoneType">
                                        <mat-option *ngFor="let p of phoneType" [value]="p">
                                            {{p}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error class="m--font-danger" *ngIf="displayMessage?.phoneType">
                                        {{displayMessage?.phoneType}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 px-0">
                                <mat-form-field appearance="outline" floatLabel="always">
                                    <mat-label>Contact Number</mat-label>
                                    <input formControlName="number" matInput type="text" placeholder="Enter a contact number"
                                        required>
                                    <mat-error class="m--font-danger" *ngIf="c.get('number')?.errors && c.get('number')?.errors['maxlength']">
                                        Maximum number length is 15
                                    </mat-error>
                                    <mat-error class="m--font-danger" *ngIf="c.get('number')?.dirty && c.get('number')?.invalid && !c.get('number')?.errors['maxlength']">
                                        Contact number is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2 px-0" style="display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        height: 50px;">
                                <button [disabled]="contactControls().controls.length == 1" type="button" (click)="contactNumberAction(i)"
                                    class="btn btn-danger m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill"
                                    matTooltip="Remove this">
                                    <i class="flaticon-delete"></i>
                                </button>
                                <button type="button" (click)="contactNumberAction(-1)" class="btn btn-primary m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill"
                                    matTooltip="Add another">
                                    <i class="flaticon-add"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mat-elevation-z1">
                <div class="col mt-3 pb-2">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>About Me</mat-label>
                        <!--Just to make same design as material formField. Ugly fix -->
                        <input type="text" matInput formControlName="aboutMe" required class="m--hide">
                        <!--this is the main editor to working with-->
                        <div #aboutMeTextEditor style="min-height:100px; max-height: 220px; overflow: auto; border:none"></div>
                        <!--Helper to display an eror message-->
                        <mat-error class="m--font-danger" *ngIf="displayMessage?.aboutMe"> {{displayMessage?.aboutMe}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div matDialogActions style="display: flex; justify-content: center">
        <div class="mb-2">
            <button type="submit" matTooltip="Save changes" matTooltipPosition="above" class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only m-btn--pill mx-1"
                [ngClass]="{'m-loader':isWorking, 'm-btn--hover-accent':!isWorking}">
                <i *ngIf="!isWorking" class="la la-check"></i>
            </button>
            <button [disabled]="isWorking" type="button" (click)="onCancel()" matTooltip="Cancel" matTooltipPosition="above"
                class="btn btn-default m-btn--hover-metal m-btn m-btn--icon m-btn--icon-only m-btn--pill mx-1">
                <i class="la la-close"></i>
            </button>
        </div>
    </div>
</form>