<div *ngIf="isWorking else content" class="m-alert alert alert-info mt-3 w-100" role="alert">
    <div class="m-alert__text pt-2 pb-2 px-0">
        <p>Please wait we are verifying your account</p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</div>

<ng-template #content>

    <div *ngIf="response" [ngClass]="isError ? 'alert-danger':'alert-success'"
        class="m-alert m-alert--icon m-alert--air alert  mt-3" role="alert">
        <div class="m-alert__icon pt-2 pb-2 pl-2">
            <i class="la la-warning"></i>
        </div>
        <div class="m-alert__text pt-2 pb-2 px-1">
            {{response?.messageBody}}
        </div>
    </div>
    <div *ngIf="isWorking === undefined else success" class="alert m-alert--default" role="alert">
        Initializing..
    </div>
    <ng-template #success>
        <div class="alert m-alert m-alert--outline m-alert--air mt-4" role="alert">
            <p>It is recommended that you update your <span style="cursor: pointer"
                    (click)="navigateConfirm('account profile','/employer/my/profile')" class="m-link m-link--warning"
                    title="takes you to the profile">profile</span> before posting a job.</p>
            <p>Getting started with Recruitment Service by following this link <span style="cursor: pointer"
                    (click)="navigateConfirm('job posting section','/employer/j/all')" class="m-link m-link--warning"
                    title="takes you to the profile">Post a Job</span>
        </div>
    </ng-template>

</ng-template>