<h2 mat-dialog-title>Schedule Timer</h2>
<mat-dialog-content>
    <mat-form-field appearance="fill">
        <input [ngModel]="" [min]="min" [formControl]="dControl" (focus)="shDate.open()" (click)="shDate.open()"
            [matDatepicker]="shDate" matInput placeholder="Date">
        <mat-datepicker #shDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <input [formControl]="tControl" type="time" matInput placeholder="Time">
    </mat-form-field>
    <mat-hint *ngIf="!invalidTimer && dControl.value && tControl.value">Auto Send On:
        <b>
            {{dControl.value | date}}
            <span class="m-badge m-badge--danger m-badge--dot m-badge--dot-small mx-1"></span>
            {{tControl.value | time}}
        </b>
    </mat-hint>
    <span id="err" *ngIf="invalidTimer" style="font-size: 12px;" class="m--font-danger d-block">Schedule timer must be the future.</span>
</mat-dialog-content>
<mat-dialog-actions class="mt-3 pb-4" align="center">
    <button (click)="onSet()" type="button"
        class="btn btn-outline-accent btn-sm m-btn m-btn--icon mx-1">
        <span>
            <i class="flaticon-stopwatch"></i>
            <span>Set Timer</span>
        </span>
    </button>
    <button mat-dialog-close type="button" class="btn btn-outline-warning btn-sm m-btn m-btn--icon mx-1">
        <span>
            <i class="la la-close"></i>
            <span>Cancel</span>
        </span>
    </button>
</mat-dialog-actions>