<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__body m-portlet__body--no-padding">
            <!--  -->
            <div class="m-pricing-table-4">
                <!--  -->
                <div class="m-pricing-table-4__top" style="background: #2f80ed!important;
                            background: linear-gradient(to right, rgba(0,190,212,1) 54%, rgba(47,128,237,1) 100%)!important;
                ">
                    <!-- background: linear-gradient(to right,#00bed4,#2f80ed)!important;"> -->
                    <!--  -->
                    <div class="m-pricing-table-4__top-container m-pricing-table-4__top-container--fixed">
                        <div class="m-pricing-table-4__top-header">
                            <div class="m-pricing-table-4__top-title m--font-light">
                                <h1>Pick out a plan that suits your business</h1>
                            </div>
                        </div>
                        <div class="m-pricing-table-4__top-body">
                            <!--  -->
                            <div class="m-pricing-table-4__top-items" style="box-shadow: none;">
                                <!--  -->
                                <div class="m-pricing-table-4__top-item">
                                    <span class="m-pricing-table-4__icon m--font-info">
                                        <i class="fa flaticon-rocket"></i>
                                    </span>
                                    <h2 class="m-pricing-table-4__subtitle">Basic Plan</h2>
                                    <div class="m-pricing-table-4__features">
                                        <span>Lorem ipsum dolor adipiscing</span><br>
                                        <span>do eiusmod tempors</span>
                                    </div>
                                    <span class="m-pricing-table-4__price">69</span>
                                    <span class="m-pricing-table-4__label">$</span>
                                    <div class="m-pricing-table-4__btn">
                                        <button type="button"
                                            class="btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">Purchase</button>
                                    </div>

                                    <div class="m-pricing-table-4__top-items-mobile">
                                        <div class="m-pricing-table-4__top-item-mobile">
                                            <span>Number Of Users</span><br>
                                            <span>Up to 10k</span>
                                        </div>
                                        <div class="m-pricing-table-4__top-item-mobile">
                                            <span>Domains</span><br>
                                            <span>1</span>
                                        </div>
                                        <div class="m-pricing-table-4__top-item-mobile">
                                            <span>Projects</span><br>
                                            <span>5</span>
                                        </div>
                                        <div class="m-pricing-table-4__top-item-mobile">
                                            <span>Storage</span><br>
                                            <span>5GB</span>
                                        </div>
                                        <div class="m-pricing-table-4__top-item-mobile">
                                            <span>Supporet</span><br>
                                            <span>No</span>
                                        </div>
                                        <div class="m-pricing-table-4__top-item-mobile">
                                            <span>Tutorials</span><br>
                                            <span>No</span>
                                        </div>
                                        <div class="m-pricing-table-4__top-item-mobile">
                                            <span>Cancelation</span><br>
                                            <span>Yes</span>
                                        </div>
                                        <div class="m-pricing-table-4__top-btn">
                                            <button type="button"
                                                class="btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">Purchase</button>
                                        </div>
                                    </div>

                                </div>
                                <div class="m-pricing-table-4__top-item">
                                    <span class="m-pricing-table-4__icon m--font-info">
                                        <i class="fa flaticon-confetti"></i>
                                    </span>
                                    <h2 class="m-pricing-table-4__subtitle">For Business</h2>
                                    <div class="m-pricing-table-4__features">
                                        <span>Lorem ipsum dolor adipiscing</span><br>
                                        <span>do eiusmod tempors</span>
                                    </div>
                                    <span class="m-pricing-table-4__price">169</span>
                                    <span class="m-pricing-table-4__label">$</span>
                                    <div class="m-pricing-table-4__btn">
                                        <button type="button"
                                            class="btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">Purchase</button>
                                    </div>
                                    <div class="m-pricing-table-4__top-items-mobile">
                                        <div class="m-pricing-table-4__top-item-mobile">
                                            <span>Number Of Users</span><br>
                                            <span>Up to 100k</span>
                                        </div>
                                        <div class="m-pricing-table-4__top-item-mobile">
                                            <span>Domains</span><br>
                                            <span>20</span>
                                        </div>
                                        <div class="m-pricing-table-4__top-item-mobile">
                                            <span>Projects</span><br>
                                            <span>100</span>
                                        </div>
                                        <div class="m-pricing-table-4__top-item-mobile">
                                            <span>Storage</span><br>
                                            <span>200GB</span>
                                        </div>
                                        <div class="m-pricing-table-4__top-item-mobile">
                                            <span>Supporet</span><br>
                                            <span>Yes</span>
                                        </div>
                                        <div class="m-pricing-table-4__top-item-mobile">
                                            <span>Tutorials</span><br>
                                            <span>Yes</span>
                                        </div>
                                        <div class="m-pricing-table-4__top-item-mobile">
                                            <span>Cancelation</span><br>
                                            <span>Yes</span>
                                        </div>
                                        <div class="m-pricing-table-4__top-btn">
                                            <button type="button"
                                                class="btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">Purchase</button>
                                        </div>
                                    </div>

                                </div>
                                <div class="m-pricing-table-4__top-item">
                                    <span class="m-pricing-table-4__icon m--font-info">
                                        <i class="fa flaticon-gift"></i>
                                    </span>
                                    <h2 class="m-pricing-table-4__subtitle">Enterprise</h2>
                                    <div class="m-pricing-table-4__features">
                                        <span>Lorem ipsum dolor adipiscing</span><br>
                                        <span>do eiusmod tempors</span>
                                    </div>
                                    <span class="m-pricing-table-4__price">669</span>
                                    <span class="m-pricing-table-4__label">$</span>
                                    <div class="m-pricing-table-4__btn">
                                        <button type="button"
                                            class="btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">Purchase</button>
                                    </div>

                                    <div class="m-pricing-table-4__top-items-mobile">
                                        <div class="m-pricing-table-4__top-item-mobile">
                                            <span>Number Of Users</span><br>
                                            <span>Unlimited</span>
                                        </div>
                                        <div class="m-pricing-table-4__top-item-mobile">
                                            <span>Domains</span><br>
                                            <span>100</span>
                                        </div>
                                        <div class="m-pricing-table-4__top-item-mobile">
                                            <span>Projects</span><br>
                                            <span>500</span>
                                        </div>
                                        <div class="m-pricing-table-4__top-item-mobile">
                                            <span>Storage</span><br>
                                            <span>Unlimited</span>
                                        </div>
                                        <div class="m-pricing-table-4__top-item-mobile">
                                            <span>Supporet</span><br>
                                            <span>Yes</span>
                                        </div>
                                        <div class="m-pricing-table-4__top-item-mobile">
                                            <span>Tutorials</span><br>
                                            <span>Yes</span>
                                        </div>
                                        <div class="m-pricing-table-4__top-item-mobile">
                                            <span>Cancelation</span><br>
                                            <span>Yes</span>
                                        </div>
                                        <div class="m-pricing-table-4__top-btn">
                                            <button type="button"
                                                class="btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">Purchase</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-pricing-table-4__bottom">
                    <div class="m-pricing-table-4__bottom-container m-pricing-table-4__bottom-container--fixed">
                        <div class="m-pricing-table-4__bottom-items">
                            <div class="m-pricing-table-4__bottom-item">
                                Number Of Users
                            </div>
                            <div class="m-pricing-table-4__bottom-item">
                                Up to 10k
                            </div>
                            <div class="m-pricing-table-4__bottom-item">
                                Up to 100k
                            </div>
                            <div class="m-pricing-table-4__bottom-item">
                                Unlimited
                            </div>
                        </div>
                        <div class="m-pricing-table-4__bottom-items">
                            <div class="m-pricing-table-4__bottom-item">
                                Domains
                            </div>
                            <div class="m-pricing-table-4__bottom-item">
                                1
                            </div>
                            <div class="m-pricing-table-4__bottom-item">
                                20
                            </div>
                            <div class="m-pricing-table-4__bottom-item">
                                100
                            </div>
                        </div>
                        <div class="m-pricing-table-4__bottom-items">
                            <div class="m-pricing-table-4__bottom-item">
                                Projects
                            </div>
                            <div class="m-pricing-table-4__bottom-item">
                                5
                            </div>
                            <div class="m-pricing-table-4__bottom-item">
                                100
                            </div>
                            <div class="m-pricing-table-4__bottom-item">
                                500
                            </div>
                        </div>
                        <div class="m-pricing-table-4__bottom-items">
                            <div class="m-pricing-table-4__bottom-item">
                                Storage
                            </div>
                            <div class="m-pricing-table-4__bottom-item">
                                5GB
                            </div>
                            <div class="m-pricing-table-4__bottom-item">
                                200GB
                            </div>
                            <div class="m-pricing-table-4__bottom-item">
                                Unlimited
                            </div>
                        </div>
                        <div class="m-pricing-table-4__bottom-items">
                            <div class="m-pricing-table-4__bottom-item">
                                Supporet
                            </div>
                            <div class="m-pricing-table-4__bottom-item">
                                No
                            </div>
                            <div class="m-pricing-table-4__bottom-item">
                                Yes
                            </div>
                            <div class="m-pricing-table-4__bottom-item">
                                Yes
                            </div>
                        </div>
                        <div class="m-pricing-table-4__bottom-items">
                            <div class="m-pricing-table-4__bottom-item">
                                Tutorials
                            </div>
                            <div class="m-pricing-table-4__bottom-item">
                                No
                            </div>
                            <div class="m-pricing-table-4__bottom-item">
                                Yes
                            </div>
                            <div class="m-pricing-table-4__bottom-item">
                                Yes
                            </div>
                        </div>
                        <div class="m-pricing-table-4__bottom-items">
                            <div class="m-pricing-table-4__bottom-item">
                                Cancelation
                            </div>
                            <div class="m-pricing-table-4__bottom-item">
                                Yes
                            </div>
                            <div class="m-pricing-table-4__bottom-item">
                                Yes
                            </div>
                            <div class="m-pricing-table-4__bottom-item">
                                Yes
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>