<div class="m-container m-page__container m-container--full-height m-container--responsive m-container--xxl">
    <div class="m-footer__wrapper">
        <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop m--font-light">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-12">
                    <div style="margin: 12% 0 7% 0">
                        <h1 style="font-size: 35px;">Don't miss your opportunity of a lifetime!</h1>
                        <h4>Get uptaded new jobs right away on your pocket with our official Android and iOS apps.</h4>
                    </div>
                    <div>
                        <a href="javascript:;" class="btn-lg btn m-btn  m-btn--air btn-outline-metal m-btn m-btn--outline-2x  mr-2">
                            <span>
                                <i class="fab fa-google-play"></i>
                                <span> Google Play</span>
                            </span>
                        </a>
                        <a href="javascript:;" class="btn-lg btn m-btn  m-btn--air btn-outline-metal m-btn m-btn--outline-2x">
                            <span>
                                <i class="fa socicon-apple"></i>
                                <span> App Store</span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-12">
                    <div class="mobile-app-image-bg"></div>
                </div>
            </div>
        </div>
    </div>
</div>