<div class="text-center">
    <h6 class="m-portlet_head-text m--font-brand" matDialogTitle>
       Confirm!
    </h6>
    <div matDialogContent>
        <h5>Discard Unsaved Changes?</h5>
    </div>
    <div matDialogActions class="justify-content-center mb-1">
        <button matTooltip="Yes"  matTooltipPosition="above" [mat-dialog-close]="true" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only m-btn--pill mx-2">
            <i class="la la-check"></i>
        </button>
        <button matTooltip="No"  matTooltipPosition="above" [mat-dialog-close]="false" class="btn btn-metal m-btn m-btn--icon m-btn--icon-only m-btn--pill mx-2">
            <i class="la la-close"></i>
        </button>
    </div>
</div>