<mat-card class="m--margin-top-15  mat-elevation-z1 box-border mb-4  pt-0">
    <img mat-card-image class="img-placeholder">
    <mat-card-content>
        <div class="row">
            <div class="col-12">
                <div class="mat-elevation-z1 company-avatar-circle" style="background: #dedee6; ">
                </div>
            </div>
            <div class="col-12 mt-4 pt-3 text-detail-middle-wrap">
                <div class="text-sm-placeholder"> </div>
                <div class="text-sm-placeholder"> </div>
            </div>
        </div>
        <div class="row  mb-3 mt-3">
            <mat-divider class=""></mat-divider>
        </div>
        <div class="row">
            <div class="col-12 mt-1 text-detail-wrap">
                <div class="text-md-placeholder"></div>
                <div class="text-circle-placeholder"></div>
            </div>
            <div class="col-12 mt-2 text-detail-wrap">
                <div class="text-md-placeholder"></div>
                <div class="text-circle-placeholder"></div>
            </div>
            <div class="col-12  mt-3">
                <div class="btn-wide-placeholder"></div>
            </div>
        </div>
    </mat-card-content>
</mat-card>