<mat-card class="mt-3 mat-elevation-z1 box-border mb-4  pt-0">
    <mat-card-content>
        <div class="row">
            <div class="col-md-12 mt-4">
                <div class="btn-wide-placeholder"></div>
            </div>
            <div class="col-md-12 mt-3 mb-3">
                <div class="m-divider ">
                    <span></span>
                    <span><div class="text-circle-placeholder"></div></span>
                    <span></span>
                </div>
            </div>
            <div class="col-md-12 mb-2">
                <div class="row mt-4" style="justify-content: left;">
                    <div  style="height: 40px; width: 40px; background: #dedee6; margin-left: 15px;">
                       
                    </div>
                    <div class="client-detail-wrap">
                        <div class="text-sm-placeholder-auto-width"> </div>
                        <div class="text-sm-placeholder-auto-width"> </div>
                        <div class="text-sm-placeholder-auto-width"> </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>