<mat-card>
    <mat-card-content>
        <div class="row mb-2">
            <div class="col">
                <div class="col-6 lang-name"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="col-5 star-title"></div>
                <div class="content-wrapper">
                    <div class="stars"></div>
                    <div class="stars"></div>
                    <div class="stars"></div>
                    <div class="stars"></div>
                    <div class="stars"></div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="col-5 star-title"></div>
                <div class="content-wrapper">
                    <div class="stars"></div>
                    <div class="stars"></div>
                    <div class="stars"></div>
                    <div class="stars"></div>
                    <div class="stars"></div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="col-5 star-title"></div>
                <div class="content-wrapper">
                    <div class="stars"></div>
                    <div class="stars"></div>
                    <div class="stars"></div>
                    <div class="stars"></div>
                    <div class="stars"></div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="col-5 star-title"></div>
                <div class="content-wrapper">
                    <div class="stars"></div>
                    <div class="stars"></div>
                    <div class="stars"></div>
                    <div class="stars"></div>
                    <div class="stars"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content-wrapper justify-content-center mt-2 mb-2">
                <div class="action-btn"></div>
                <div class="action-btn"></div>
                <div class="action-btn"></div>
            </div>
        </div>
    </mat-card-content>
</mat-card>